// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    
    .content {
        flex: 1;
        padding-top: 10px;
    }
}

#required {
    color: #dc3545;
}