.test-component {
    padding: 20px;
    margin: 10px auto;
    width: 640px;
    background-color: #f2f2f2;
    box-shadow: 0px 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .title {
        text-align: center;
        font-size: 24px;
        margin-bottom: 40px;
    }
    
    form {
        .form-item {
            margin-bottom: 20px;

            label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }
            
            input[type="text"], select {
                box-sizing: border-box;
                width: 450px;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            
            .radio-group {
                display: flex;
                justify-content: space-between;
                margin-top: 5px;

                label {
                    margin: 0 10px;
                }
            }

            .questions {
                margin-top: 50px;
                max-width: 450px;

                .question-first,
                .question-second,
                .question-third {
                    label {
                        margin-bottom: 20px;
                    }
                }

                .question-first {
                    margin-bottom: 30px;

                    textarea {
                        width: 450px;
                        resize: none;
                    }
                }

                .question-second {
                    margin-bottom: 15px;
                }
            }
        }

        .button-container {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;

            #send {
                padding: 10px 20px;
                background-color: #4CAF50;
                color: #fff;
                border: none;
                border-radius: 4px;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    background-color: #45a049;
                }
            }

            #clear {
                border: none;
                cursor: pointer;
                
                #reset {
                    transition: 0.4s ease-in-out;

                    &:hover {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}